body {
    background-color: white;
}

nav > a {
    color: black;
}

main > ul > li {
    font-weight: bold;
}

table, th, td {
    border: 1px solid black;
}

th {
    background-color: black;
    color: white
}

tr:nth-child(even){
    background-color: grey;
}

input[type="submit"], input[type="reset"] {
    background-color: black;
    color: white;
}

fieldset {
    border: none;
    padding: 2rem 0;
    border-bottom: 3px solid #3b3b4f;
}

fieldset:first-of-type {
    color: red;
}

fieldset:nth-child(2){
    color: blue;
}

fieldset:nth-child(3){
    color: green;
}

fieldset:last-of-type{
    color: purple;
}

