/*  https://coolors.co/e7ecef-274c77-6096ba-a3cef1-8b8c89  */

body {
    background-color: #8b8c89;
    color: #274c77;
}

nav > a {
    color: #274c77;
}

main > ul > li {
    font-weight: bold;
}

table, th, td {
    border: 1px solid black;
}

th {
    background-color: black;
    color: white
}

tr:nth-child(even){
    background-color: grey;
}

input[type="submit"], input[type="reset"] {
    background-color: black;
    color: white;
}

fieldset {
    border: none;
    padding: 2rem 0;
    border-bottom: 3px solid #3b3b4f;
}

fieldset:first-of-type {
    color: red;
}

fieldset:nth-child(2){
    color: blue;
}

fieldset:nth-child(3){
    color: green;
}

fieldset:last-of-type{
    color: purple;
}

a:link{
    color: black;
}

@media (min-width: 576px) {
    body{
        margin: 20px;
    }

    img{
        max-width: 100%;
        height: auto;
    }

    header{
        background-color: #8b8c89;
        color: #274c77;
        padding: 10px;
    }

    footer{
        background-color: #8b8c89;
        color: #274c77;
        padding: 10px;
    }
}

#slideshow-container {
    max-width: 600px;
    position: relative;
    margin: auto;
  }
  
  .slide {
    display: none;
  }
  
  img {
    width: 100%;
    height: auto;
  }
  
  .caption {
    text-align: center;
  }
  
  #image-list {
    text-align: center;
    margin-top: 20px;
  }
  
  #image-list a {
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
  }