<footer>
    <div class="footer">
    <nav>
        <a href="https://webpages.charlotte.edu/bgoodri3/">Charlotte Homepage</a>
        ||
        <a href="https://github.com/bgoodri3?tab=repositories">Github Repository</a>
        ||
        <a href="https://github.com/bgoodri3/bgoodri3.github.io">Github.io Page</a>
        ||
        <a href="https://www.freecodecamp.org/bgoodri3">FreeCodeCamp Account</a>
        ||
        <a href="https://www.codecademy.com/profiles/bgoodri3">Codecademy Account</a>
        ||
        <a href="https://www.linkedin.com/in/bgoodrich2001/">LinkedIn</a>
    </nav>
    <p>Page Built by Goodrich Ventures</p>
        <a id="getElementById">
        <img style="border:0;width:88px;height:31px" src="https://upload.wikimedia.org/wikipedia/commons/b/bb/W3C_HTML5_certified.png" alt="Valid HTML!">
        </a>
        <a id="getElementById">
        <img style="border:0;width:88px;height:31px"
        src="https://jigsaw.w3.org/css-validator/images/vcss" alt="Valid
        CSS!">
        </a>
    </div>
</footer>

<script>
    document.getElementById("validation_link_html").setAttribute("href", "https://validator.w3.org/check?uri=" + location.href);

    document.getElementById("validation_link_css").setAttribute("href", "https://jigsaw.w3.org/css-validator/validator?uri=" + location.href);
</script>

<!--
    Allows the footer to be loaded dynamically


<div data-include="components/footer.html"></div>
<script src="scripts/include.min.js"></script>

        -->